//! **************************************************************************
// Written by: Map P.20131013 on Mon May 14 16:26:30 2018
//! **************************************************************************

SCHEMATIC START;
COMP "OTR_AD9244_1" LOCATE = SITE "P139" LEVEL 1;
COMP "Data_I_AD9244<0>" LOCATE = SITE "P134" LEVEL 1;
COMP "Data_I_AD9244<1>" LOCATE = SITE "P133" LEVEL 1;
COMP "Data_I_AD9244<2>" LOCATE = SITE "P132" LEVEL 1;
COMP "Data_I_AD9244<3>" LOCATE = SITE "P131" LEVEL 1;
COMP "Data_I_AD9244<4>" LOCATE = SITE "P127" LEVEL 1;
COMP "Data_I_AD9244<5>" LOCATE = SITE "P126" LEVEL 1;
COMP "Data_I_AD9244<6>" LOCATE = SITE "P124" LEVEL 1;
COMP "Data_I_AD9244<7>" LOCATE = SITE "P123" LEVEL 1;
COMP "Data_I_AD9244<8>" LOCATE = SITE "P121" LEVEL 1;
COMP "Data_I_AD9244<9>" LOCATE = SITE "P120" LEVEL 1;
COMP "clk_DAC904" LOCATE = SITE "P40" LEVEL 1;
COMP "OTR_AD9244" LOCATE = SITE "P115" LEVEL 1;
COMP "Data_I_AD9244_1<10>" LOCATE = SITE "P143" LEVEL 1;
COMP "Data_I_AD9244_1<11>" LOCATE = SITE "P142" LEVEL 1;
COMP "Data_I_AD9244_1<12>" LOCATE = SITE "P141" LEVEL 1;
COMP "Data_I_AD9244_1<13>" LOCATE = SITE "P140" LEVEL 1;
COMP "Data_I_AD9244<10>" LOCATE = SITE "P119" LEVEL 1;
COMP "Data_I_AD9244<11>" LOCATE = SITE "P118" LEVEL 1;
COMP "Data_I_AD9244<12>" LOCATE = SITE "P117" LEVEL 1;
COMP "Data_I_AD9244<13>" LOCATE = SITE "P116" LEVEL 1;
COMP "SYNC_DAC8551_Bias" LOCATE = SITE "P41" LEVEL 1;
COMP "clk_W_AD9244" LOCATE = SITE "P137" LEVEL 1;
COMP "clk_DAC8551_Bias" LOCATE = SITE "P43" LEVEL 1;
COMP "clk_W_AD9244_1" LOCATE = SITE "P138" LEVEL 1;
COMP "Data_Out_DAC904<10>" LOCATE = SITE "P32" LEVEL 1;
COMP "Data_Out_DAC904<11>" LOCATE = SITE "P33" LEVEL 1;
COMP "Data_Out_DAC904<12>" LOCATE = SITE "P34" LEVEL 1;
COMP "Data_Out_DAC904<13>" LOCATE = SITE "P35" LEVEL 1;
COMP "uart_rx" LOCATE = SITE "P95" LEVEL 1;
COMP "uart_tx" LOCATE = SITE "P94" LEVEL 1;
COMP "D_DAC8551_Bias" LOCATE = SITE "P44" LEVEL 1;
COMP "rst_btn" LOCATE = SITE "P39" LEVEL 1;
COMP "clk_DAC8551" LOCATE = SITE "P14" LEVEL 1;
COMP "Data_I_AD9244_1<0>" LOCATE = SITE "P11" LEVEL 1;
COMP "Data_I_AD9244_1<1>" LOCATE = SITE "P10" LEVEL 1;
COMP "Data_I_AD9244_1<2>" LOCATE = SITE "P9" LEVEL 1;
COMP "Data_I_AD9244_1<3>" LOCATE = SITE "P8" LEVEL 1;
COMP "Data_I_AD9244_1<4>" LOCATE = SITE "P7" LEVEL 1;
COMP "Data_I_AD9244_1<5>" LOCATE = SITE "P6" LEVEL 1;
COMP "Data_I_AD9244_1<6>" LOCATE = SITE "P5" LEVEL 1;
COMP "Data_I_AD9244_1<7>" LOCATE = SITE "P2" LEVEL 1;
COMP "Data_I_AD9244_1<8>" LOCATE = SITE "P1" LEVEL 1;
COMP "Data_I_AD9244_1<9>" LOCATE = SITE "P144" LEVEL 1;
COMP "clk_in" LOCATE = SITE "P56" LEVEL 1;
COMP "Data_Out_DAC904<0>" LOCATE = SITE "P16" LEVEL 1;
COMP "Data_Out_DAC904<1>" LOCATE = SITE "P17" LEVEL 1;
COMP "Data_Out_DAC904<2>" LOCATE = SITE "P21" LEVEL 1;
COMP "Data_Out_DAC904<3>" LOCATE = SITE "P22" LEVEL 1;
COMP "Data_Out_DAC904<4>" LOCATE = SITE "P23" LEVEL 1;
COMP "Data_Out_DAC904<5>" LOCATE = SITE "P24" LEVEL 1;
COMP "Data_Out_DAC904<6>" LOCATE = SITE "P26" LEVEL 1;
COMP "Data_Out_DAC904<7>" LOCATE = SITE "P27" LEVEL 1;
COMP "Data_Out_DAC904<8>" LOCATE = SITE "P29" LEVEL 1;
COMP "Data_Out_DAC904<9>" LOCATE = SITE "P30" LEVEL 1;
COMP "D_DAC8551" LOCATE = SITE "P12" LEVEL 1;
COMP "SYNC_DAC8551" LOCATE = SITE "P15" LEVEL 1;
COMP "DIO_OUT1<0>" LOCATE = SITE "P75" LEVEL 1;
COMP "DIO_OUT1<1>" LOCATE = SITE "P74" LEVEL 1;
COMP "DIO_OUT1<2>" LOCATE = SITE "P79" LEVEL 1;
COMP "DIO_OUT1<3>" LOCATE = SITE "P78" LEVEL 1;
COMP "DIO_OUT2<0>" LOCATE = SITE "P85" LEVEL 1;
COMP "DIO_OUT1<4>" LOCATE = SITE "P81" LEVEL 1;
COMP "DIO_OUT2<1>" LOCATE = SITE "P84" LEVEL 1;
COMP "DIO_OUT1<5>" LOCATE = SITE "P80" LEVEL 1;
COMP "DIO_OUT2<2>" LOCATE = SITE "P88" LEVEL 1;
COMP "DIO_OUT1<6>" LOCATE = SITE "P83" LEVEL 1;
COMP "DIO_OUT2<3>" LOCATE = SITE "P87" LEVEL 1;
COMP "DIO_OUT1<7>" LOCATE = SITE "P82" LEVEL 1;
COMP "DIO_OUT3<0>" LOCATE = SITE "P58" LEVEL 1;
COMP "DIO_OUT2<4>" LOCATE = SITE "P93" LEVEL 1;
COMP "DIO_OUT3<1>" LOCATE = SITE "P59" LEVEL 1;
COMP "DIO_OUT2<5>" LOCATE = SITE "P92" LEVEL 1;
COMP "DIO_OUT3<2>" LOCATE = SITE "P55" LEVEL 1;
COMP "DIO_OUT2<6>" LOCATE = SITE "P62" LEVEL 1;
COMP "DIO_OUT3<3>" LOCATE = SITE "P57" LEVEL 1;
COMP "DIO_OUT2<7>" LOCATE = SITE "P67" LEVEL 1;
COMP "DIO_OUT3<4>" LOCATE = SITE "P48" LEVEL 1;
COMP "DIO_OUT3<5>" LOCATE = SITE "P51" LEVEL 1;
COMP "DIO_OUT3<6>" LOCATE = SITE "P46" LEVEL 1;
COMP "DIO_OUT3<7>" LOCATE = SITE "P47" LEVEL 1;
SCHEMATIC END;

